@model WebApplication2.Models.cmplnt_base

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit @Html.DisplayFor(model => model.cstmr_nme) <i class="icon-wpforms green"></i></h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <p class="card-text">Are you sure you want to delete this?</p>
                    <hr />
                    <div class="container">

                        <h3></h3>
                        <div>
                            <h4>Delete @Html.DisplayFor(model => model.cmplnt_ID)</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    <label for="cstmr_nme">Complainant Name :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.cstmr_nme)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="cstmr_ref_rtlr">Complaint Refrence:(Retailer)</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.cstmr_ref_rtlr)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="cstmr_ref_mf">Complaint Refrence:(Morning Flake)</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.cstmr_ref_mf)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="rtlr">Retailer :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.rtlr)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="Site">Site :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Site)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="prdct_ctgry">Product Category :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.prdct_ctgry)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="prdct_cde_rtlr">Product Code Retailer : </label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.prdct_cde_rtlr)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="prdct_cde_mf">Product Code MornFlake :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.prdct_cde_mf)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="bbe_dte">Best Before Date :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.bbe_info)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="cmplnt_ctgry">Complaint Category :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.cmplnt_ctgry)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="cmplnt_src">Complaint Source :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.cmplnt_src)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="cmplnt_desc">Complaint Description :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.cmplnt_desc)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="cstmr_ref_rtlr">Julienne Code :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.jlenne_cde)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="prdct_desc">Product Description :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.prdct_desc)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="Actn">Action :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Actn)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="bbe_dte">Best Before Date :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.bbe_dte)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="cmplnt_dte">Complaint Date :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.cmplnt_dte)
                                </dd>
                                <dt class="col-sm-2">
                                    <label for="cmplnt_dte">Todays Date :</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.tdy_dte)
                                </dd>
                            </dl>
                        </div>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="cmplnt_ID" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index" class="btn btn-warning">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
