@using WebApplication2.Views.cmplnt_base;
@model PaginatedList<WebApplication2.Models.cmplnt_base>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
    string filterComplainantSite = ViewBag.FilterComplainantSite as string ?? "";
}

@await Component.InvokeAsync("Menu", new { activeMenuItem = "View Complaint" })
<!-- / main menu-->

 <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><i class="icon-file-text"></i> View Complaint</h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="card-block collapse in">
                <div class="btn-group mr-1 mb-1">
                <a class="btn btn-success mr-1" asp-action="Create">Create New Complaint</a>
                <div class="btn-group float-xs-right">                                                               
                 <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-filter black"></i></button>
                  <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" aria-controls="dropdown2" aria-expanded="true">By order Accending</a>
                <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" aria-controls="dropdown2" aria-expanded="true">By order Decending</a>
                <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["RetailerSortParm"]" aria-controls="dropdown2" aria-expanded="true">By order Retailer</a>
                <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["SiteSortParm"]" aria-controls="dropdown2" aria-expanded="true">By order Site</a>
                <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["ProductCategorySortParm"]" aria-controls="dropdown2" aria-expanded="true">By order Product Catergory</a>
                <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["ComplaintCategorySortParm"]" aria-controls="dropdown2" aria-expanded="true">By order Compliant Catergory</a>
                 </div>
                   </div>
                </div>
                <div class="row">
                        @using (Html.BeginForm())
                  {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Advanced Search</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                   <button type="submit"> <i class="icon-search-plus"></i> </button>  
                                    </span>
                                    @Html.TextBox("SearchString", null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row col-md-3 offset-md-2">
                        <a class="btn btn-secondary mr-1 bg-info bg-lighten-5" asp-action="Index">Reload</a>
                      </div>                    
                  </div>
            </div>       
        </div>
        <div class="card-body">
        <div class="card-block">
        <div class="table-responsive">
            <table class="table table-bordered table-table-stripedtable bg-white bg-lighten-3 table-hover mb-0">
                <thead>
                        <tr>
                          <th>Id#</th>
                          <th>
                            <span class="media-body">Complainant Name</span>
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#defaultSize"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>
                          <th>
                            <span class="media-body"
                              >Complaint Refrence:(Retailer)</span
                            >
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#small"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>
                          <th>
                            <span class="media-body"
                              >Complaint Description</span
                            >
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#small2"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>
                          <th>
                            <span class="media-body">Retailer</span>
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#small4"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>
                          <th>
                            <span class="media-body">Site</span>
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#small5"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>
                          <th>
                            <span class="media-body">Product Description</span>
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#small6"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>
                          <th>
                            <span class="media-body">Product Category</span>
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#small7"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>                         
                          <th>
                            <span class="media-body"
                              >Product Code Mornflake</span
                            >
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#small8"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>
                          <th>
                            <span class="media-body">Complaint Category </span>
                            <span class="media-right valign-middle">
                              <a
                                class="btn btn-sm"
                                data-toggle="modal"
                                data-target="#small9"
                              >
                                <i class="icon-filter black"></i>
                              </a>
                            </span>
                          </th>
                          <th>Complaint Source</th>
                          <th>Action</th>
                          <th>Julienne Code</th>
                          <th>Best Before Date</th>
                          <th>Best Before Info</th>
                          <th>Complaint Date</th>
                          <th>Today's Date</th>
                          <th></th>
                        </tr>
                      </thead>
                <tbody>
                        @foreach (var item in Model)
                        {
                        
                        <tr>                          
                            <td class="text-truncate">                                
                                    <a asp-action="Edit" asp-route-id="@item.cmplnt_ID">@Html.DisplayFor(modelItem => item.cmplnt_ID)</a>
                            </td>
                            <td class="text-truncate">
                                @Html.DisplayFor(modelItem => item.cstmr_nme)
                            </td>
                            <td class="text-truncate">
                                @Html.DisplayFor(modelItem => item.cstmr_ref_rtlr)
                            </td>
                            <td class="text-truncate">
                                    <a asp-action="Edit" asp-route-id="@item.cmplnt_ID"> @Html.DisplayFor(modelItem => item.cmplnt_desc)</a>
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.rtlr)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.Site)
                            </td>
                            <td class="text-truncate">
                                        @Html.DisplayFor(modelItem => item.prdct_desc)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.prdct_ctgry)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.prdct_cde_mf)
                            </td>

                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.cmplnt_ctgry)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.cmplnt_src)
                            </td>

                            <td class="text-truncate">
                                        @Html.DisplayFor(modelItem => item.Actn)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.jlenne_cde)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.bbe_dte)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.bbe_info)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.cmplnt_dte)
                            </td>
                            <td class="text-truncate">
                                    @Html.DisplayFor(modelItem => item.tdy_dte)
                            </td>
                            <td class="text-truncate">
                                <a asp-action="Edit" asp-route-id="@item.cmplnt_ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.cmplnt_ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.cmplnt_ID">Delete</a>
                            </td>                           
                        </tr>
                        }
                </tbody>
            </table>
            <hr />
        </div>
        </div>
        </div>
        <div class="text-xs-center mb-3">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?pageNumber=1" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?pageNumber=@(Model.PageIndex - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Prev</span>
                            </a>
                        </li>
                    }

                    @for (var i = Math.Max(1, Model.PageIndex - 2); i <= Math.Min(Model.TotalPages, Model.PageIndex + 2); i++)
                    {
                        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                            <a class="page-link" href="?pageNumber=@i">@i</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?pageNumber=@(Model.PageIndex + 1)
                            &filterComplainantSite=@ViewBag.FilterComplainantSite" aria-label="Next">
                                <span aria-hidden="true">Next &raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?pageNumber=@Model.TotalPages" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<div class="modal fade text-xs-left" id="defaultSize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel19" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel19"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Complainant Name </label>
                    <div class="form-group">
                    <input type="text" name="searchString" />
                    </div>
                    <div class="form-group">
                     <input type="checkbox" class="form" id="selectAllName" /> <label for="customRange2">Select All</label>
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group checkbox-container" id="checkboxContainer" style="max-height: 150px; overflow-y: auto;">
                     @foreach (var option in ViewBag.FilterComplainantNameOptions)
                     {
                       <input type="checkbox" name="filterComplainantName" id="filterComplainantName" value="@option" /> @option<br />
                     }
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-xs-left" id="small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel20" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel20"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Complaint Retailer Refrence</label>
                    <div class="form-group">
                    <input type="text" name="searchString" />
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group">
                     <input type="checkbox" class="form" id="selectAllRefrence" /> <label for="customRange2">Select All</label>
                    </div>
                    <div class="form-group checkbox-container" style="max-height: 150px; overflow-y: auto;">
                      @foreach (var complaint in ViewBag.AllComplaints)
                      {
                        if (!string.IsNullOrEmpty(complaint.cstmr_ref_rtlr))
                         {
                           <input type="checkbox" name="filterComplainantRefrence" id="filterComplainantRefrence" value="@complaint.cstmr_ref_rtlr" /> @complaint.cstmr_ref_rtlr<br />
                         }
                      }
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel21" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel21"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Complainant Description</label>
                    <div class="form-group">
                    <input type="text" name="searchString" />
                    </div>
                    <div class="form-group">
                     <input type="checkbox" class="form" id="selectAllDescription" /> <label for="customRange2">Select All</label>
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group checkbox-container" style="max-height: 150px; overflow-y: auto;">
                     @foreach (var complaint in ViewBag.AllComplaints)
                      {
                      <input type="checkbox" name="filterComplainantDescription" id="filterComplainantDescription" value="@complaint.cmplnt_desc" /> @complaint.cmplnt_desc<br />
                      }
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel23" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel23"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Retailer</label>
                    <div class="form-group">
                    <input type="text" name="searchString" />
                    </div>
                    <div class="form-group">
                     <input type="checkbox" class="form" id="selectAllRetailer" /> <label for="customRange2">Select All</label>
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group checkbox-container" style="max-height: 150px; overflow-y: auto;">
                     @foreach (var option in ViewBag.FilterComplainantRetailerOptions)
                     {
                       <input type="checkbox" name="filterComplainantRetailer" id="filterComplainantRetailer" value="@option" /> @option<br />
                     }
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel24" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel24"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Site</label>
                    <div class="form-group">
                    <input type="text" name="searchString" />
                    </div>
                    <div class="form-group">
                     <input type="checkbox" class="form" id="selectAllSite" /> <label for="customRange2">Select All</label>
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group checkbox-container" style="max-height: 150px; overflow-y: auto;">
                     @foreach (var option in ViewBag.FilterComplainantSiteOptions)
                     {
                       <input type="checkbox" name="filterComplainantSite" id="filterComplainantSite" value="@option" /> @option<br />
                     }
                    </div>
                    <input type="hidden" name="pageNumber" value="@Model.PageIndex" />
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel25" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel25"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Product Description</label>
                    <div class="form-group">
                    <input type="text" name="searchString" />
                    </div>
                    <div class="form-group">
                     <input type="checkbox" class="form" id="selectAllDescription" /> <label for="customRange2">Select All</label>
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group checkbox-container" style="max-height: 150px; overflow-y: auto;">
                     @foreach (var option in ViewBag.FilterComplainantProductDesOptions)
                     {
                       <input type="checkbox" name="filterProductDes" id="filterProductDes" value="@option" /> @option<br />
                     }
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel26" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel26"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Product Category</label>
                    <div class="form-group">
                    <input type="text" id="query" name="searchString" />
                    </div>
                    <div class="form-group">
                     <input type="checkbox" class="form" id="selectAllCategory" /> <label for="customRange2">Select All</label>
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group checkbox-container" style="max-height: 150px; overflow-y: auto;">
                     @foreach (var option in ViewBag.FilterComplainantCategoryOptions)
                     {
                       <input type="checkbox" name="filterProductCat" id="filterProductCat" value="@option" /> @option<br />
                     }
                    </div>
                    <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel27" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel27"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Product Code Mornflake</label>
                    <div class="form-group">
                    <input type="text" name="searchString" />
                    </div>
                    <div class="form-group">
                     <input type="checkbox" class="form" id="selectAllCode" /> <label for="customRange2">Select All</label>
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group checkbox-container" style="max-height: 150px; overflow-y: auto;">
                     @foreach (var complaint in ViewBag.AllComplaints)
                        {
                            if (!string.IsNullOrEmpty(complaint.prdct_cde_mf))
                            {
                                <input type="checkbox" name="filterProductMf" id="filterProductMf" value="@complaint.prdct_cde_mf" /> @complaint.prdct_cde_mf<br />
                            }
                        }
                    </div>
                    <input type="hidden" name="pageNumber" value="@Model.PageIndex" />
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel28" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel28"><i class="icon-filter black"></i> Filter</h4>
            </div>
            <form method="post" action="@Url.Action("Index")">
                <div class="modal-body">
                    <label>Complaint Category</label>
                    <div class="form-group">
                    <input type="text" name="searchString" />
                    </div>
                    <label>Filter By: </label>
                    <div class="form-group checkbox-container" style="max-height: 150px; overflow-y: auto;">
                     @foreach (var option in ViewBag.FilterComplainantComCatOptions)
                     {
                       <input type="checkbox" name="filterComplaintCat" id="filterComplaintCat" value="@option" /> @option<br />
                     }
                    </div>
                    <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" class="btn btn-primary" value="Filter">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<script>
    // Script to handle form submission for sorting
    $(document).ready(function () {
        $('#selectAllName').click(function () {
            $('input[name="filterComplainantName"]').prop('checked', this.checked);
            toggleButtonVisibility();
        });
        $('#selectAllRefrence').click(function () {
            $('input[name="filterComplainantRefrence"]').prop('checked', this.checked);
            toggleButtonVisibility();
        });
        $('#selectAllDescription').click(function () {
            $('input[name="filterComplainantDescription"]').prop('checked', this.checked);
            toggleButtonVisibility(); 
        });
        $('#selectAllRetailer').click(function () {
            $('input[name="filterComplainantRetailer"]').prop('checked', this.checked);
            toggleButtonVisibility(); 
        });
        $('#selectAllSite').click(function () {
            $('input[name="filterComplainantSite"]').prop('checked', this.checked);
            toggleButtonVisibility();
        });
        $('#selectAllCategory').click(function () {
            $('input[name="filterProductCat"]').prop('checked', this.checked);
            toggleButtonVisibility();
        });
        $('#selectAllCode').click(function () {
            $('input[name="filterProductMf"]').prop('checked', this.checked);
            toggleButtonVisibility();
        });
        $('#selectAllDescription').click(function () {
            $('input[name="filterProductDes"]').prop('checked', this.checked);
            toggleButtonVisibility();
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("query");
        const checkboxContainer = document.querySelector(".checkbox-container");
        const checkboxes = checkboxContainer.querySelectorAll('input[type="checkbox"]');
        const selectAllCheckbox = document.getElementById("selectAllName");

        // Store the original checkboxes for reference
        const originalCheckboxes = Array.from(checkboxes);

        searchInput.addEventListener("input", function () {
            const searchString = searchInput.value.trim().toLowerCase();

            // Clear existing checkboxes
            checkboxContainer.innerHTML = "";

            // Filter checkboxes based on the search string
            const filteredCheckboxes = originalCheckboxes.filter(checkbox => {
                const optionText = checkbox.nextElementSibling.textContent.toLowerCase();
                return optionText.includes(searchString);
            });

            // Append the filtered checkboxes
            filteredCheckboxes.forEach(checkbox => {
                checkboxContainer.appendChild(checkbox.parentElement.cloneNode(true));
            });

            // Add event listeners to the new checkboxes
            const newCheckboxes = checkboxContainer.querySelectorAll('input[type="checkbox"]');
            newCheckboxes.forEach(newCheckbox => {
                newCheckbox.addEventListener("change", updateSelectAll);
            });

            // Update the "Select All" checkbox
            updateSelectAll();
        });

        selectAllCheckbox.addEventListener("change", function () {
            checkboxes.forEach(checkbox => {
                checkbox.checked = selectAllCheckbox.checked;
            });
        });

        function updateSelectAll() {
            // Update the "Select All" checkbox based on the state of the filtered checkboxes
            const newCheckboxes = checkboxContainer.querySelectorAll('input[type="checkbox"]');
            const allChecked = Array.from(newCheckboxes).every(checkbox => checkbox.checked);
            selectAllCheckbox.checked = allChecked;
        }
    });
</script>


}

