<div class="modal fade text-xs-left" id="small3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel22" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel22">Sort and Filter</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("Index")">
                    <div class="form-group">
                        <h4>Filtered Items</h4>
                        <label>Complaint Refrence (MF)</label>
                        <input type="text" name="filterComplainantMF" />
                        <div class="col-md-8" style="max-height: 200px; overflow-y: scroll; max-height: 300px;">
                            <label for="filterComplainantMF">Complaint Refrence (MF):</label>
                            <select class="form-control" name="filterComplainantMF" id="filterComplainantMF">
                                <option value="">-- Select --</option>
                                @foreach (var complaint in ViewBag.AllComplaints)
                                {
                                    <option value="@complaint.cstmr_ref_mf">@complaint.cstmr_ref_mf</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel23" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel23">Sort and Filter</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("Index")">
                    <div class="form-group">
                        <h4>Filtered Items</h4>
                        <label>Retailer</label>
                        <input type="text" name="filterComplainantRetailer" />
                        <div class="col-md-8" style="max-height: 200px; overflow-y: scroll; max-height: 300px;">
                            <label for="filterComplainantRetailer">Retailer:</label>
                            <select class="form-control" name="filterComplainantRetailer" id="filterComplainantRetailer">
                                <option value="">-- Select --</option>
                                @foreach (var complaint in ViewBag.AllComplaints)
                                {
                                    <option value="@complaint.rtlr">@complaint.rtlr</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-xs-left" id="small5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel24" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel24">Sort and Filter</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("Index")">
                    <div class="form-group">
                        <h4>Filtered Items</h4>
                        <label>Site</label>
                        <input type="text" name="filterComplainantSite" />
                        <div class="col-md-8" style="max-height: 200px; overflow-y: scroll; max-height: 300px;">
                            <label for="filterComplainantSite">Site:</label>
                            <select class="form-control" name="filterComplainantSite" id="filterComplainantSite">
                                <option value="">-- Select --</option>
                                @foreach (var complaint in ViewBag.AllComplaints)
                                {
                                    <option value="@complaint.Site">@complaint.Site</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
                </form>
            </div>
        </div>
    </div>
</div>